- for comment in @comments
  %li
    = link_to h(comment.body[0..20]), edit_admin_post_comment_path(comment.post,comment)
    - if params[:post_id]
      = link_to 'delete', admin_post_comment_path(comment.post, comment),  :class => 'delete'
    - else
      = link_to 'delete', admin_comment_path(comment), :class => 'delete'
    = distance_of_time_in_words_to_now(comment.created_at)
