!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Ricodigo Blog
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    %link{:rel=>"alternate", :type=>"application/atom+xml", :href=> custom_atom_posts, :title => posts_title(nil, @tag, @author)}
    //-unless @comments.blank?
    //  %link{:rel=>"alternate", :type=>"application/atom+xml", :href=> custom_atom_comments, :title=>posts_title(@post, @tag, @author)}
  %body
    #navbar
    = yield
    :erb
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {

          var pageTracker = _gat._getTracker("<%= AppConfig.googlean %>");
          pageTracker._trackPageview();
        } catch(err) {}</script>
